{% load static %} <!-- bootstrap css static폴더 가져오기 -->
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hi~ pyweb</title>
    <link rel="stylesheet" href="{% static 'board/css/bootstrap.css' %}"> <!-- bootstrap css링크 연결 -->
</head>
<body>
{% include 'navbar.html' %} <!-- 네비게이션 바, 햄버거 메뉴 공통 적용 -->
{% block content %} <!-- 기본 템플릿 안에 삽입될 내용 시작 -->
{% endblock %} <!-- 기본 템플릿 안에 삽입될 내용 끝 -->
<script src="{% static 'board/js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'board/js/bootstrap.js' %}"></script>
{% block script %} <!-- 자바스크립트(제이쿼리) 삽입될 내용 시작 -->
{% endblock %} <!-- 자바스크립트(제이쿼리) 삽입될 내용 끝 -->
</body>
</html>