{% extends 'base.html' %} <!-- base.html로 표준화작업 실시 -->
{% block content %} <!-- 기본 템플릿 안에 삽입될 내용 시작 -->
<div class="container">
    <section>
        <h5 class="border-bottom my-3 pb-2">답변 수정</h5>
        <form action="" method="post" class="post-form">
            {% csrf_token %}
            {% if form.errors %} <!-- 오류 표시 시작 -->
            <div class="alert alert-danger">
                {% for field in form %}
                    {% if field.errors %} <!-- 자바스크립트 안 쓰고 파이썬에서 유효성 검사 처리 -->
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    {% endif %}
                {% endfor%}
            </div>
            {% endif %} <!-- 오류 표시 끝 -->
            <!-- {{ form.as_p }} 아래에 직접 만든 폼 형태를 쉽게 만들어주는 템플릿 한 줄 태그 -->
            <div class="form-group">
                <label for="content">내용 : </label>
                <textarea class="form-control" name="content" id="content" rows="5">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <input type="submit" value="저장하기" class="btn btn-primary">
        </form>
    </section>
</div>
{% endblock %} <!-- 기본 템플릿 안에 삽입될 내용 끝 -->