{% extends 'base.html' %} <!-- base.html로 표준화작업 실시 -->
{% load board_filter %} <!-- 템플릿 필터 파일 로드 -->
{% block content %} <!-- 기본 템플릿 안에 삽입될 내용 시작 -->
<div class="container">
    <section>
        <!-- base.html로 표준화작업을 원치 않을 때는 % include 'navbar.html' %를 여기에 넣고 개별로 적용할 시 지금 페이지 여백대로 적용되는 장점은 있음) -->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>번호</th>
                    <th>추천</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일시</th>
                </tr>
            </thead>
            <tbody>
                {% if question_list %}
                    {% for question in question_list %}
                    <tr>
                        <!-- <td>{{ forloop.counter }}</td> 번호 찾기(돌면서) -->
                        <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td> <!-- 템플릿 필터 일련번호(공식) 적용 -->
                        <td>
                            {% if question.voter.all.count > 0 %}
                            <span class="badge badge-warning px-2 py-1"></span>
                                {{ question.voter.all.count }}
                            {% endif %}
                        </td>
                        <td>
                            <!-- 링크 경로(:)는 앱 네임을 사용 -->
                            <a href="{% url 'board:detail' question.id %}">
                                {{ question.subject }} <!-- 제목 찾기 -->
                            </a>
                            {% if question.answer_set.count > 0 %}
                            <span class="text-danger small">[{{ question.answer_set.count }}]</span>
                            {% endif %}
                        </td>
                        <td>{{ question.author }}</td>
                        <td>{{ question.create_date }}</td> <!-- 작성일시 찾기 -->
                    </tr>
                    {% endfor %}
                {% else %}
                <p>질문이 없습니다</p>
                {% endif %}
            </tbody>
        </table>
        <!-- 페이징 처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전 페이지 -->
            {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ question_list.previous_page_number }}">이전</a>
            </li>
            {% else %} <!-- 이전 페이지가 없으면 -->
            <li class="page-item disabled">
                <a class="page-link" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지 리스트(해당 경로 페이지) -->
            {% for page_number in question_list.paginator.page_range %}
                {% if page_number == question_list.number %}
                <li class="page-item active">
                    <a class="page-link"
                       href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?page={{ question_list.next_page_number }}">다음</a>
            </li>
            {% else %} <!-- 다음 페이지가 없으면 -->
            <li class="page-item disabled">
                <a class="page-link" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징 처리 끝 -->
        <a class="btn btn-primary"
           href="{% url 'board:question_create' %}">질문 등록</a> <!-- board urls의 app_name을 받는 것 -->
    </section>
</div>
{% endblock %} <!-- 기본 템플릿 안에 삽입될 내용 끝 -->

<!-- db가져오기 연습 -->
<!--    <h2>질문 목록 연습</h2>-->
<!--    <h3>현재 계절 : {{ season }}</h3>-->
<!--    <h4>4계절</h4>-->
<!--    <ul>-->
<!--        {% if season_list %} 내가 가져올 데이터에 자료가 없을 때 에러 방지 -->
<!--            {% for season in season_list %}-->
<!--            <li>{{ season }}</li>-->
<!--            {% endfor %}-->
<!--        {% else %}-->
<!--        <p>계절이 없습니다</p>-->
<!--        {% endif %}-->
<!--    </ul>-->